html
    head
        link(href='css/style.min.css')
    body 
        include html/header
        main.page
            h1 main page
            img(src='@img/asd.jpg')
        include html/footer
        script(src="js/app.min.js") 