body{
    background: black;
    span{
        color:red;
    }
    background: url('@img/asd.jpg') 0 0 no-repeat;

    @media screen and (max-width:768px) {
        background:green;
        font-size: 30px;
        
    }

    @media screen and (max-width:768px) {
        span{
            background: blue;
            padding: 20px;
        }
        
    }
}